@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap');
.App {
  background-color: #836096;
  text-align: center;
  height: 100vh;
  width: 500px;
  overflow: auto;
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px 30px;
  box-sizing: border-box;
  color: white;
}

.title-nav{
  margin:0 auto;
  justify-self: center !important;
  box-sizing: border-box;
}

.input-text{
  box-sizing: border-box;
  width: 85%;
  height: 59px;
  margin: 20px auto;
  border-radius: 26px;
  border: 0;
  font-size: 18px;
  padding: 15px 25px;
}

.circle{
  display: inline-block;
  border-radius: 50%;
  padding:5px;
  background-color: white;
  position: relative;
}

.btn-add-photo{
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #EBE76C;
  width: 33px;
  height: 33px;
  font-size: 23px;
  color: black;
  border: 0;
  text-align: center;
  border-radius: 50%;
}

.photo{
  border-radius: 50%;
}
.photo-file{
  display: none;
}

.main{
  width: 85%;
  height: 59px;
  background-color: #ED7B7B;
  border-radius: 26px;
  border: 0;
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin: 10px auto;
}

.chart-container{
  margin: 50px auto;
  width: 100%;
  padding: 0 30px ;
  box-sizing: border-box;
}

.title-detail{
  color: white;
  margin: 10px 0 0;
}

.subtitle-detail{
  color: white;
  display: block;
}

.title-pie{
  font-size: 18px;
  color: white;
  text-align: left;
}